.AmountPositive {
  display: inline-block;
  background: #c8f9c8;
  color: #004d0e;
  white-space: nowrap;
  padding: 0 0.2em;
  line-height: 1;
}
.AmountPositive::before {
  content: '+';
  font-size: 1.2em;
  color: #01a701;
}