.AmountNegative {
  display: inline-block;
  background: #ffd5d5;
  white-space: nowrap;
  // padding: 0 0.3rem;
  line-height: 1;
}
.AmountNegative::before {
  content: '–';
  font-size: 1.2em;
  color: #ff005c;
}