.AmountNegative {
  display: inline-block;
  background: #ffd4d4;
  color: #a70000;
  white-space: nowrap;
  padding: 0 0.2em;
  line-height: 1;
}
.AmountNegative::before {
  content: '–';
  font-size: 1.2em;
  color: #ff005c;
}