$font-1: "Inter", Helvetica, Arial, sans-serif;

$color-plus: #1ad971;
$color-minus: #ff005c;
$color-text: black;
$color-text-gray: #859093;
$color-text-error: #ff005c;
$color-bg-white: #ffffff;
$color-bg-gray: #f6f5f4;
$color-brand-1: #76a34f;
$color-brand-2: #ffa91a;
$color-link: #0040ff;
$color-primary: #097cc3;
$color-primary-shade: #004d7c;
$color-secondary: #e2e7e9;
$color-bg-textinput: #f6f5f4;
$color-border-textinput: #999998;
$color-border-panel: #e7e7e7;
$color-border-table: rgb(211, 211, 211);

$fontsize-minus-3: 12px;
$fontsize-minus-2: 0.8rem;
$fontsize-minus-1: 0.9rem;
$fontsize-base: 17px;
$fontsize-plus-1: 1.2rem;
$fontsize-plus-2: 1.4rem;
$fontsize-plus-3: 1.7rem;

$rounded-panel: 10px;
$rounded-input: 3px;

$page-side-padding: 20px;
$page-side-padding-narrow: 10px;
$page-max-width: 520px;

$screen-sm: 480px;
$screen-md: 640px;
$screen-lg: 800px;
$screen-xl: 1024px;

@mixin gradient-btn-regular {
  background: rgb(210,210,210);
  background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(240,240,240,1) 100%);
}

@mixin gradient-primary {
  background: rgb(0,99,172);
  background: linear-gradient(0deg, rgba(0,99,172,1) 1%, rgba(9,124,195,1) 100%);
}

@mixin gradient-secondary {
  background: rgb(222,221,220);
  background: linear-gradient(0deg, rgba(222,221,220,1) 1%, rgba(246,245,244,1) 100%);
}

@mixin page-title {  
  font-size: $fontsize-plus-3;
  padding-right: 20px;
  line-height: 1.1;
  margin-bottom: 1rem;
}

@mixin section-title {
  margin-bottom: 0.5rem;
  font-size: $fontsize-plus-1;
  text-decoration: underline;
  color: black;
}

@mixin inset-0 {
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin input-base {
  border-radius: $rounded-input;
  padding: 0.3rem 0.2rem;
  border: 1px solid $color-border-textinput;
  width: 100%;
  line-height: 1;
  font-weight: 500;
  font-family: $font-1;
  font-size: $fontsize-base;
}

@import "./normalization.scss";
@import "./ButtonRegular.scss";
@import "./UserBtn.scss";
@import "./RegularList.scss";
@import "./FieldLabel.scss";
@import "./TxTable.scss";
@import "./TxSummaryTable.scss";
@import "./AmountPositive.scss";
@import "./AmountNegative.scss";
@import "./FakeDisabledInput.scss";
@import "./InputText.scss";
@import "./InputSelect.scss";
@import "./WhitePanel.scss";
@import "./NotFoundError.scss";
@import "./Breadcrumbs.scss";

.PageTitle {
  @include page-title;
}

.FormRowTwoColumnWrapper {
  display: flex;
  justify-content: space-between;
}
.FormRowTwoColumnWrapper > * {
  width: 48%;
}
.FormRow {
  margin-bottom: 0.5rem;
}

.LoginPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

.AuthBox {
  width: 90vw;
  max-width: 380px;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.AuthBox__logo {
  width: 110px;
  margin-bottom: 1.5rem;
}
.AuthBox__logo img {
  max-width: 100%;
}
.AuthBox__subtitle {
  margin-bottom: 0.8rem;
}
.AuthBox__spinner {
  justify-content: center;
  display: flex;
}



.ButtonPrimary {
  @include gradient-primary;
  border-radius: $rounded-input;
  border: 1px solid $color-primary-shade;
  padding: 0.5rem 1rem;
  color: $color-bg-white;
  width: 100%;
  text-align: center;
  font-size: $fontsize-base;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}
.ButtonSecondary {
  @include gradient-secondary;
  border-radius: $rounded-input;
  padding: 0.5rem 1rem;
  border: 1px solid $color-border-textinput;
  color: $color-text;
  width: 100%;
  text-align: center;
  font-size: $fontsize-base;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}
.ButtonLink {
  font-size: 1em;
  color: $color-link;
  text-decoration: underline;
}

.Heading2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 1em;
}
.Heading3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
.Heading4 {
  font-weight: bold;
  font-size: 1rem;
}


.ErrorDiv {
  font-style: ita;
  color: $color-text-error;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.MemberAreaSkeleton {
  min-height: 100vh;
}

.AppHeader {
  background: #102039;
  margin-bottom: 10px;
  z-index: 10;
  position: sticky;
  top: 0;
}
.AppHeader__centering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem $page-side-padding;
  max-width: $page-max-width;
  margin: 0 auto;
}
@media screen and (max-width: 360px) {
  .AppHeader__centering {
    padding: 0.5rem $page-side-padding-narrow;
  }
}
.AppHeader__logo {
  width: 101px;
  display: block;
}
.AppHeader__logo img {
  width: 100%;
  height: auto;
}
.ContentArea {
  padding: 0 $page-side-padding 0;
  max-width: $page-max-width;
  margin: 0 auto 0;
}
@media screen and (max-width: 360px) {
  .ContentArea {
    padding: 0 $page-side-padding-narrow;
  }
}

.ModalSelectBook__title {
  @include page-title;
}
.ModalSelectBook__subtitle {
  @include section-title;
}
.ModalSelectBook__newBookForm {
  border: 1px solid $color-border-panel; 
  padding: 0.8rem;
  border-radius: $rounded-panel;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ModalSelectBook__submitButton {
  margin-top: 0.7rem;
}
.ModalSelectBook__section {
  margin-top: 2rem;
}

.BookCard {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.BookCard__head {
  display: flex;
}
.BookCard__title {
  font-size: $fontsize-base;
  font-weight: 600;
  margin-right: 0.5rem;
}
.BookCard__owner {
  font-size: $fontsize-minus-2;
  color: $color-text-gray;
  margin-top: 0.2rem;
}

.CurrentBookLine {
  margin-bottom: 3rem;
}
.CurrentBookLine__button {
  @include gradient-secondary;
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: $fontsize-minus-1;
  border-radius: $rounded-input;
  border: 1px solid $color-border-textinput;
  padding: 0.15rem 0.7rem;
  display: flex;
  align-items: center;
}
.CurrentBookLine__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 0.3rem;
}

// Component
.TransactionSummary {border: 1px solid red;}
.TransactionSummary ul {
  list-style: none;
}
.TransactionSummary li {
  margin-bottom: 0.2rem;
}
.TransactionSummary strong {
  font-weight: 600;
  font-size: 1rem;
  display: block;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}
.TransactionSummary span {
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
  background: #efefef;
  padding: 0.1rem 0.4rem;
  width: 50%;
  color: black;
}

// Component
.BookActions {
  border-collapse: collapse;
  width: 100%;
  background: #efefef;
}
.BookActions td {
  border: 1px solid $color-border-table;
  width: 50%;
  text-align: center;
  padding: 0.5rem;
}
.BookActions .LinkWithEmoji {
  display: block;
}
.BookActions .LinkWithEmoji > span:first-child {
  display: block;
  font-size: 1.5rem;
  margin-right: 0;
  margin-bottom: 0.2rem;
}

// Component
.TransactionList {}
.TransactionList__table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid red;
}
.TransactionList__table td {
  border: 1px solid $color-border-table;
  padding: 0.3rem 0.5rem;
  vertical-align: top;
}
.TransactionList__table td:last-child {
  text-align: right;
}
.TransactionList__table tr:nth-child(even) td {
  background: #fafafa;
}
.TransactionList__itemTitle {
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.TransactionList__itemTitle a, .TransactionList__itemTitle a:visited {
  color: $color-link;
}
.TransactionList__itemDate, .TransactionList__itemDesc {
  font-weight: 500;
  font-size: $fontsize-minus-1;
}

// Component

.RecentTransactions {}

.RecentTransactions__title {
  @include section-title;
}

.TransactionCard {
  margin-bottom: 1.2rem;
}
.TransactionCard__titleBox {
  margin-bottom: 0.2rem;
}
.TransactionCard__meta {
  display: flex;
  margin-bottom: 0.2rem;
  font-size: $fontsize-minus-1;
  font-weight: 500;
  align-items: center;
}
.TransactionCard__icon {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}
.TransactionCard__description {
  margin-bottom: 0.2rem;
  font-size: $fontsize-minus-1;
  font-weight: 500;
  color: $color-text-gray;
}
.TransactionCard__date {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: $fontsize-minus-1;
}
.TransactionCard__amount {  
  font-size: $fontsize-minus-1;
}
.TransactionCard__title {
  font-weight: 600;
  display: inline-block;
  margin-right: 0.5rem;
}
.TransactionCard__action {
  font-weight: 400;
  display: inline-block;
  color: $color-primary;
}

.TransactionCard__amount {
  font-weight: 500;
}



.ViewTransactionPage__message {
  margin-bottom: 1rem;
}

.CharSpace1 {
  display: inline-block;
  width: 1em;
}

.CharSpace2 {
  display: inline-block;
  width: 2em;
}

.HSpaceHalf {
  margin-bottom: 0.5rem;
}
.HSpace1 {
  margin-bottom: 1rem;
}

.HSpace2 {
  margin-bottom: 2rem;
}

.HSpace3 {
  margin-bottom: 3rem;
}

.BookList {}
.BookList__item {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}
.BookList__itemTitle {
  font-family: $font-1;
  font-weight: 500;
  color: $color-link;
  text-decoration: underline;
}
.BookList__itemOwner {
  font-size: $fontsize-minus-1;
  color: $color-text-gray;
}

// CreateBookForm Component
.CreateBookForm {
  position: relative;
  margin-bottom: 2rem;
}
.CreateBookForm__form {
  display: flex;
  height: 32px;
}
.CreateBookForm__input {
  margin-right: 0.5rem;
  display: block;
  max-width: 300px;
}
.CreateBookForm__button {
  min-width: 100px;
}

// Back component
.Back {
  font-weight: 500;
  font-size: $fontsize-base;
  color: $color-link;
}
.Back__icon {
  display: inline-block;
  width: 1rem;
  height: 0.7rem;
}

// Component
.LinkWithIcon {
  color: $color-link;
}
.LinkWithIcon__icon {
  display: inline-block;
  width: 1rem;
  height: 0.8rem;
  margin-right: 0.4rem;
}

// Component
.LinkWithEmoji {
  color: $color-text;
  text-decoration: none;
  font-size: $fontsize-base;
}
.LinkWithEmoji > span {
  display: inline-block;
}
.LinkWithEmoji > span:first-child {
  margin-right: 0.3rem;
}
.LinkWithEmoji > span:last-child {
  text-decoration: underline;
  color: $color-link;
}

// Component
@mixin plus-minus-sign {
  display: inline-block;
  margin-right: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.PlusMinusSign {
  @include plus-minus-sign;
  color: #01a701;
}
.PlusMinusSign--isMinus {
  @include plus-minus-sign;
  color: #ff005c;
}

// Component
.CopyrightNotes {
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: $fontsize-minus-2;
}

// Component
.BookItemList__itemTitle {
  text-align: left;
  font-size: $fontsize-base;
  font-weight: 500;
  text-decoration: underline;
  color: $color-link;
  display: inline-block;
  margin-right: 0.5rem;
  line-height: 1.2;
}
.BookItemList__itemTitle {

}

// Component
.VarDump {
  border: 2px solid #2ed380;
  font-size: 0.8rem;
  word-break: break-all;
  background: #005f08;
  color: white;
  padding: 0.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}