
.TxSummaryTable td {
  vertical-align: top;
}
.TxSummaryTable tr:nth-child(odd) td {
  padding-bottom: 0.2rem;
}
.TxSummaryTable tr:nth-child(even) td {
  padding-bottom: 0.6rem;
}
.TxSummaryTable td:nth-child(1),
.TxSummaryTable td:nth-child(2),
.TxSummaryTable td:nth-child(3) {
  padding-right: 0.5rem;
  white-space: nowrap;
}