.TxTable {}
.TxTable td {
  vertical-align: top;
  padding-bottom: 0.5rem;
}
.TxTable td:nth-child(1)::before {
  content: "•"
}
.TxTable td:nth-child(1) {
  padding-right: 0.5rem;
}
.TxTable td:nth-child(2) {
  padding-right: 0.5rem;
}
.TxTable td:nth-child(3) {
  text-align: right;
}