$font-1: "Inter", Helvetica, Arial, sans-serif;

$color-plus: #1ad971;
$color-minus: #ff005c;
$color-text: #333;
$color-text-gray: #859093;
$color-text-error: #ff005c;
$color-bg-white: #ffffff;
$color-bg-gray: #f6f5f4;
$color-brand-1: #76a34f;
$color-brand-2: #ffa91a;
$color-link: #0040ff;
$color-primary: #097cc3;
$color-primary-shade: #056dad;
$color-secondary: #e2e7e9;
$color-bg-textinput: #f6f5f4;
$color-border-textinput: #76765c;
$color-border-panel: #e7e7e7;

$fontsize-minus-3: 12px;
$fontsize-minus-2: 0.8rem;
$fontsize-minus-1: 0.9rem;
$fontsize-base: 17px;
$fontsize-plus-1: 1.2rem;
$fontsize-plus-2: 1.4rem;
$fontsize-plus-3: 1.7rem;

$rounded-panel: 10px;
$rounded-input: 3px;

$page-side-padding: 20px;
$page-max-width: 600px;

$screen-sm: 480px;
$screen-md: 640px;
$screen-lg: 800px;
$screen-xl: 1024px;

@mixin gradient-btn-regular {
  background: rgb(210,210,210);
  background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(240,240,240,1) 100%);
}

@mixin gradient-primary {
  background: rgb(0,99,172);
  background: linear-gradient(0deg, rgba(0,99,172,1) 1%, rgba(9,124,195,1) 100%);
}

@mixin gradient-secondary {
  background: rgb(222,221,220);
  background: linear-gradient(0deg, rgba(222,221,220,1) 1%, rgba(246,245,244,1) 100%);
}

@mixin page-title {  
  font-size: $fontsize-plus-3;
  padding-right: 20px;
  line-height: 1.1;
  margin-bottom: 1rem;
}

@mixin section-title {
  margin-bottom: 0.5rem;
  font-size: $fontsize-plus-1;
  text-decoration: underline;
  color: black;
}

@mixin inset-0 {
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $fontsize-base;
}

html {
  font-family: $font-1;
  font-size: $fontsize-base;
} 

body {
  color: $color-text;
  font-family: $font-1;
  font-size: $fontsize-base;
  font-weight: 500;
}

button {
  line-height: 1;
  appearance: none;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.PageTitle {
  @include page-title;
}
  
.Modal {}

.Modal__backdrop {
  @include inset-0;
  position: fixed; 
  display: flex;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
}
.Modal__scrollable {
  @include inset-0;
  position: fixed;  
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100vw;
  min-height: 100vh;
  z-index: 21;
}
.Modal__dialog {
  width: 90vw;  
  max-width: 540px;
  background: $color-bg-white;
  z-index: 22;
  position: relative;
  border-radius: 10px;
  padding: 2rem;
}
.Modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  z-index: 50;
  border-radius: 100%;
}
.Modal__close:active {
  padding: 4px;
}
@media screen and (max-width: $screen-sm){
  .Modal__dialog {
    width: 85vw;
    padding: 1rem;
  }
}

.FormRowTwoColumnWrapper {
  display: flex;
  justify-content: space-between;
}
.FormRowTwoColumnWrapper > * {
  width: 48%;
}
.FormRow {
  margin-bottom: 0.5rem;
}
.FieldLabel {
  display: block;
  margin-bottom: 0.3rem;
  font-size: $fontsize-minus-1;
  font-weight: 600;
  color: $color-text-gray;
}

.LoginPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 60px;
}

.LoginBox {
  width: 90vw;
  max-width: 380px;
  padding: 1rem;
}
.LoginBox__logo {
  width: 140px;
  margin-bottom: 0.4rem;
}
.LoginBox__logo img {
  max-width: 100%;
}
.LoginBox__subtitle {
  margin-bottom: 0.8rem;
}
.LoginBox__spinner {
  justify-content: center;
  display: flex;
}

.ButtonRegular {
  @include gradient-btn-regular;
  border: 1px solid $color-border-textinput;
  border-radius: $rounded-input;
  padding: 0.2rem 0.4rem;
  font-weight: 400;
  font-family: $font-1;
}

.ButtonPrimary {
  @include gradient-primary;
  border-radius: $rounded-input;
  padding: 0.5rem 1rem;
  border: 1px solid $color-primary-shade;
  color: $color-bg-white;
  width: 100%;
  text-align: center;
  font-size: $fontsize-base;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}
.ButtonSecondary {
  @include gradient-secondary;
  border-radius: $rounded-input;
  padding: 0.5rem 1rem;
  border: 1px solid $color-border-textinput;
  color: $color-text;
  width: 100%;
  text-align: center;
  font-size: $fontsize-base;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}
.ButtonLink {
  font-size: 1em;
  color: $color-primary;
  text-decoration: underline;
}

@mixin input-base {
  border-radius: $rounded-input;
  padding: 0.3rem 0.5rem;
  border: 1px solid $color-border-textinput;
  width: 100%;
  line-height: 1;
  font-weight: 500;
  font-family: $font-1;
  font-size: $fontsize-base;
}

.InputText {
  @include input-base;
  background-color: white;
  color: $color-text;
  box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.1);
}
.InputText[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  border-color: #e7e7e7;
}
.InputSelect {
  @include gradient-secondary;
  @include input-base;
}

.Heading3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}
.Heading4 {
  font-weight: bold;
  font-size: 1rem;
}


.ErrorDiv {
  font-style: ita;
  color: $color-text-error;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.MemberAreaSkeleton {
  min-height: 100vh;
  padding-bottom: 100px;
}

.AppHeader {
  background: #102039;
  margin-bottom: 10px;
  z-index: 10;
  position: sticky;
  top: 0;
}
.AppHeader__centering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px $page-side-padding;
  max-width: $page-max-width;
  margin: 0 auto;
}
.AppHeader__logo {
  width: 101px;
  display: block;
}
.AppHeader__logo img {
  width: 100%;
  height: auto;
}
.ContentArea {
  padding: 0 $page-side-padding;
  max-width: $page-max-width;
  margin: 1.5rem auto 0;
}

.ModalSelectBook__title {
  @include page-title;
}
.ModalSelectBook__subtitle {
  @include section-title;
}
.ModalSelectBook__newBookForm {
  border: 1px solid $color-border-panel; 
  padding: 0.8rem;
  border-radius: $rounded-panel;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ModalSelectBook__submitButton {
  margin-top: 0.7rem;
}
.ModalSelectBook__section {
  margin-top: 2rem;
}

.BookCard {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.BookCard__head {
  display: flex;
}
.BookCard__title {
  font-size: $fontsize-base;
  font-weight: 600;
  margin-right: 0.5rem;
}
.BookCard__owner {
  font-size: $fontsize-minus-2;
  color: $color-text-gray;
  margin-top: 0.2rem;
}

.CurrentBookLine {
  margin-bottom: 3rem;
}
.CurrentBookLine__button {
  @include gradient-secondary;
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: $fontsize-minus-1;
  border-radius: $rounded-input;
  border: 1px solid $color-border-textinput;
  padding: 0.15rem 0.7rem;
  display: flex;
  align-items: center;
}
.CurrentBookLine__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 0.3rem;
}

.TransactionSummary {  
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.TransactionSummary__table {
}
.TransactionSummary__table td {
  text-align: left;
  padding-right: 1rem;
}
.TransactionSummary__col {
  display: flex;
  margin-bottom: 0.5rem;
}
.TransactionSummary__colTitle {
  font-size: $fontsize-base;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.TransactionSummary__title {  
  @include section-title;
}
.TransactionSummary__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
}
.TransactionSummary__income {
  margin-right: 1rem;
  // color: $color-plus;
  font-weight: 500;
  display: flex;
}
.TransactionSummary__outgoing {
  // color: $color-minus;
  font-weight: 500;
  display: flex;
}

// Component
.BookActions {
  list-style: none;
}
.BookActions > li {
  margin-bottom: 0.5rem;
}
.BookActions > li:last-child {
  margin-bottom: 0;
}

.RecentTransactions {
  margin-top: 2rem;
}

.RecentTransactions__title {
  @include section-title;
}

// UserBtn Component
.UserBtn {
  display: flex;
  color: white;
  font-family: $font-1;
  font-weight: 400;
}
.UserBtn__name {
  margin-left: 0.2rem;
  font-weight: 600;
  color: white;
  text-decoration: underline;
}
.UserBtn__icon {
  margin-left: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}

.TransactionCard {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}
.TransactionCard__titleBox {
  margin-bottom: 0.2rem;
}
.TransactionCard__meta {
  display: flex;
  margin-bottom: 0.2rem;
  font-size: $fontsize-minus-1;
  font-weight: 500;
  align-items: center;
}
.TransactionCard__icon {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}
.TransactionCard__description {
  margin-bottom: 0.2rem;
  font-size: $fontsize-minus-1;
  font-weight: 500;
  color: $color-text-gray;
}
.TransactionCard__date {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: $fontsize-minus-1;
}
.TransactionCard__amount {  
  font-size: $fontsize-minus-1;
}
.TransactionCard__title {
  font-weight: 600;
  display: inline-block;
  margin-right: 0.5rem;
}
.TransactionCard__action {
  font-weight: 400;
  display: inline-block;
  color: $color-primary;
}

.TransactionCard__amount {
  font-weight: 500;
}

.AddTransactionForm {
  border-radius: $rounded-panel;
  border: 1px solid $color-border-panel;
  padding: 1rem;
  background: #fbfbfb;
}
.AddTransactionForm__actionGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.AddTransactionForm__actionGroup > * {
  width: 48%;
}

.ViewTransactionPage__message {
  margin-bottom: 1rem;
}

.HSpaceHalf {
  height: 0.5rem;
}
.HSpace1 {
  height: 1rem;
}

.HSpace2 {
  height: 2rem;
}

.BookList {}
.BookList__item {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}
.BookList__itemTitle {
  font-family: $font-1;
  font-weight: 500;
  color: $color-link;
  text-decoration: underline;
}
.BookList__itemOwner {
  font-size: $fontsize-minus-1;
  color: $color-text-gray;
}

// CreateBookForm Component
.CreateBookForm {
  position: relative;
}
.CreateBookForm__form {
  display: flex;
  height: 32px;
}
.CreateBookForm__input {
  margin-right: 0.5rem;
  display: block;
  max-width: 300px;
}
.CreateBookForm__button {
  min-width: 130px;
}

// Back component
.Back {
  font-weight: 500;
  font-size: $fontsize-base;
  color: $color-link;
}
.Back__icon {
  display: inline-block;
  width: 1rem;
  height: 0.7rem;
}

// Component
.LinkWithIcon {
  color: $color-link;
}
.LinkWithIcon__icon {
  display: inline-block;
  width: 1rem;
  height: 0.8rem;
  margin-right: 0.4rem;
}

// Component
.LinkWithEmoji {
  color: $color-text;
  text-decoration: none;
  font-size: $fontsize-base;
}
.LinkWithEmoji > span {
  display: inline-block;
}
.LinkWithEmoji > span:first-child {
  margin-right: 0.3rem;
}
.LinkWithEmoji > span:last-child {
  text-decoration: underline;
  color: $color-link;
}

// Component